@model TravelTripProject.Models.DTO.BlogComment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


@{
    int sayac = 1;
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<body>

    <div class="header-banner">
        <div class="wrap">
            <div class="banner">
                <div class="indent" style="height:680px">
                    <br />
                    <h2 class="indent-left margin-bot">Tatil & Seyahat Bloğu</h2>
                    <br />
                    <div>

                        <div class="slider">
                            <ul class="rslides" id="slider1">
                                @foreach (var item in Model.Deger3)
                                {
                                    <li><img src="@item.ImageUrl" alt="" style="height:500px; width:1000px;"></li>
                                }

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-top">
                    <h3>Tatil Gezi Rehberi Sayfama Hoşgeldiniz!</h3>
                    <p>Bizimle diyar diyar gezmeye, farklı kültürleri tanımaya hazır mısınız? Yurtiçi gezi turları, yurtdışı gezi turları haricinde dünya mutfakları ile tanışacak ve yöresel yemekler hakkında bilgiler alacaksınız.</p>
                    <br />
                    <p>Gezmek çok kolay diye çıktığımız bu yolda gezi vlogları ve yurtdışı eğitim olanakları hakkında bilgi alabilir, vize başvurusu hakkında detaylara ulaşabilirsiniz. Günden güne güncellenen ve her gün bir bilgi ile karşınıza çıkan sayfamız ile yolculuğa hazır olun!</p>

                </div>

                @Html.Action("Blog1", "Default")
                <div class="grids">
                    <div class="box1">
                        <div class="padding">
                            <h4>Yılın Rotaları</h4> 
                        <ul class="list list-pad">
                            @foreach (var item in Model.Deger3)
                            {
                                if (sayac % 2 == 0)
                                {
                                    <li class="list-bg1"><span>@sayac.</span><a href="/Blog/BlogDetay/@item.ID">@item.Title.Substring(0,40)</a></li>
                                }
                                else
                                {
                                    <li class="list-bg"><span>@sayac.</span><a href="/Blog/BlogDetay/@item.ID">@item.Title</a></li>
                                }

                                sayac++;

                            }
                        </ul>
                            <a href="/Route/Index/" class="link1">Daha Fazlası İçin</a>
                        </div>

                        @Html.Action("OurBestPlaces1", "Default")

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
