@model TravelTripProject.Models.DB.Comment
@{
    ViewBag.Title = "UpdateYorum";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Güncelleme Sayfası</h2>
@using (Html.BeginForm("UpdateYorum", "Admin", FormMethod.Post))
{
    <div class="col-lg-11">
        @Html.LabelFor(x => x.ID)
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.LabelFor(x => x.UserName)
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control"})
        <br />
        @Html.LabelFor(x => x.Mail)
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        <br />
        
        @Html.LabelFor(x => x.CommentDetail)
        @Html.TextAreaFor(x => x.CommentDetail, 8, 1, new { @class = "form-control" })
        <br />
        <label>
            @Html.CheckBoxFor(x=> x.Status) Web'de Göster
        </label>
        <br />
        <br />

        <button class="btn btn-primary" type="submit">Kaydet</button>
    </div>
}

